<!DOCTYPE html>
<html>

<head>
  <title>Memo Home</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/style/style.css">
  <script type="text/javascript" src="../public/assets/jquery.js"></script>
  <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
  <script type="text/javascript" src="../public/assets/index.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div id="container" class="main-container">
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Memo
          </h1>
          <h2 class="subtitle">
            Web App Memo that's use an SQL DB, enjoy! ;)
          </h2>
        </div>
      </div>
    </section>

    <button id="btn_add" onclick="createFormMemo()" class="button is-primary">Crea</button>

    <div id="memoFormContainer" style="margin-top: 5%;margin-left: 10%;margin-right: -11%;" > <br></div>
    <div id="allContainer" class="memo-container" style="margin-top: 5%;margin-left: 10%;margin-right: -11%;margin-bottom : 55%;">


    </div>


<br>

<%- include ('partials/footpage.ejs') %>
  </div>

</body>

</html>