<footer  class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Memo App</strong> by Ashean Abeysinghe. The source code is for
      <a href="https://gitlab.com/zuccante19205IB/consegne/-/blob/master/200311_CONSEGNA.md">GitLab</a>. The website content
      is only for school projects.
    </p>
  </div>
</footer>