html{
    background-color: rgb(83, 206, 255);

  }


  body{
    width: 75%;
    background-color: white;
    float: left;
    margin: 0% 12.5% 0% 12.5%;
  }


  ul{
    margin: 2% 0% 0% 2%;

  }

  h1{
    margin-top: 5%;
    text-align: center;
  }

  .memo{
    width: 20%;
    float: left;
    margin: 2% 2% 2% 0%;
  }

  .editInput{
    border: none;
    background: transparent;
    color: rgb(22, 86, 145);
  }


  #divForm {
    width: 25%;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    padding: 20px;


  }

  #memoContent{
    height: 20%;
  }

#loadOldMemo{

}

#showForm{

}