
<!DOCTYPE html>


<html>

<head>
  <title>Memo App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/bulma-0.8.0/css/bulma.css">
  <link rel="stylesheet" href="/assets/bulma-0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script type="text/javascript" src="/assets/jquery.js"></script>
  <script type="text/javascript" src="/assets/dataController.js"></script>
  <style>

  </style>
</head>

<body>
  <h1 class="title is-1"> Memo App</h1>
  <div id="totalContainer">
    <div id="pageButtonContainer">
    <button id="loadOldMemo" class="button is-info is-active" onclick="loadOldMemo()"><i class="fas fa-sync"></i></button>
  <button id="showForm"  class="button is-success is-active" onclick="showForm()"><i class="fas fa-plus"></i></button></div>
  <div id="divForm" class="field">
    Title:<br>
    <input class="input" type="text" placeholder="ex. Nuovo Memo " id="memoTitle" required >

    <br>
    Content:<br>
    <textarea class="input"  cols="30" rows="4" placeholder="ex. Ricordare di chiudere il gas  " id="memoContent" required></textarea>
    <br><br>
    <input type="submit" value="Submit" class="button is-primary" onclick="postMemo()">
    <a class="button is-danger" onclick="hideForm()">Cancel</a>
  </div>
  <ul div="memoContainer">


  </ul>
</div>
</body>

</html>