<!DOCTYPE html>
<html>

<head>
    <title>Rubrica Home</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../public/assets/jQuery.js"></script>
    <script type="text/javascript" src="../public/assets/form.js"></script>
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Rubrica
            </h1>

          </div>
        </div>
      </section><br>
<div class="allContainer box" style="margin-left: 5%; margin-right: 5%;">
    <form action="/addContact" method="POST">
        <label class="label" >Contact Name</label>
        <div class="control">
            <input id="contactName" class="input" type="text"  style="width : 40%" required>
        </div>
        <div id="telephoneContainer">
            <br>
        <div class="telephone">

            <div class="field">
                <label class="label">Type</label>
                <div class="control">
                    <div class="select">
                        <select class="typeSelect" >
                            <option value="cellular" >Cellular</option>
                            <option value="home" >Home</option>
                            <option value="fax" >Fax</option>
                            <option value="tool-Free" >Tool-Free</option>
                            <option value="emergency" >Emergency</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Telephone number</label>
                <div class="control">
                    <input class="input" type="text"  style="width : 20%" required="true">
                </div>
            </div>
        </div>

    </div>
    <br>
        <a class="button is-medium is-info" onclick="addTelephoneForm()">
            <span class="icon">
                <i class="fas fa-plus"></i>
                <i class="fas fa-phone"></i>
          </a>
        <div class="field is-grouped is-grouped-centered">
            <p class="control" >
                <a class="button is-primary" onclick="sendContact()" type="submit">Submit</a>
            </p>
            <p class="control">
                <a class="button is-light" onclick="window.location.href = '/';">
                    Cancel
                </a>
            </p>
        </div>
    </form>
</body>

</html>