<!DOCTYPE html>
<html>
  <head>
    <title>Rubrica Home</title>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <script type="text/javascript" src="../public/assets/jQuery.js"></script>
    <script type="text/javascript" src="../public/assets/home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div id="main-container">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Rubrica
          </h1>

        </div>
      </div>
    </section>
    <br>
    <div id="c1" style="padding-right: 5%; padding-left: 5%; padding-top: 2%; padding-bottom: 2%;">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input id="myInput"class="input" type="text" onkeyup="myFunction()" placeholder="Cerca contatto..."/>
      </p>
    </div><br>

    <div class="contactButtons" onclick=' window.location.href ="/addContact" '>
      <div class="contactContainers box media">

        <i class="fas fa-user-plus fa-2x" style="margin-right: 5%;"></i>

        <strong class="media-content">Aggiungi Contatto</strong>
        <a class="level-item" aria-label="reply">

        </a>

      </div>
    </div>

    <section id="addressContainer">


    </section>
  </div>
  </div>
  </body>
</html>
