@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

* {
  box-sizing: border-box;
 }*:before,
 *:after {
  box-sizing: border-box;
 }html,
 body {
  height: 100%;
  position: relative;
 }.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }



 

  #container {
    padding-bottom: 2.5rem;    /* Footer height */
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

  .box memo{
    width: 35%;
  }
  .box memo notification{
    float: left;
  }

  

